.button {
  background: var(--hoverColor);
  color: var(--colorA);
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 0px;
  transition: all 0.3s ease;
}
.button span {
  color: var(--colorA);
}

.button:hover {
  background: var(--color1);
  color: #fff;
}

.button:hover span {
  color: rgb(243, 243, 243);
}
